<head>

</head>

<main class="col-12 d-flex flex-column">
    <div>
        <h1>Hello you 🪴</h1>
    </div>
    <div id="light" class="col-2"></div>
    <div id="canvas_container_div" class="col-10">
        <canvas id="canvas" width="1000" height="1000"></canvas> <!--(large size for higher resolution)-->
    </div>
</main>

<footer>

</footer>
<script src="js/plant_life.js"></script>