<head>

</head>

<main class="col-12 d-flex flex-column align-items-center">
    <div class="d-flex justify-content-center">
        <h1>Hello you 🪴</h1>
    </div>
    <div id="light" class="col-2"></div>
    <div id="canvas_container_div1" class="col-10">
        <canvas id="canvas" width="1000" height="1000"></canvas> <!--(large size for higher resolution)-->
    </div>
    <div id="canvas_container_div2" class="col-10">
        <canvas id="pot"></canvas> <!--(large size for higher resolution)-->
    </div>
</main>

<footer>

</footer>
<script src="js/plant_life.js"></script>
<script src="js/index.js"></script>